@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Exercise Number 3: (Allotted Time: 2 hours)</h1>
    <p>
        Create a app (mobile/web) that will be able to manage employees in a company, a database with an employee table should be created and its fields are: First Name, Last Name and Date of birth.
        The app should begin in the Employee list page with the “Add Employee” link included and a “refresh” button at the bottom of the list. The list should be able to get information from the web app backend via AJAX calls and in JSON format.
        Adding an employee should take the user to a new page to populate the data. Once complete, the user should be taken back to the list page and with the newly added employee visible in the said list.
        Clicking the employee name should bring the user to the same page and its fields populated with the selected employee. Clicking Save button updates the record and displays the employee list again.
    </p>
</div>
